:root {
  --color-default-bg: #d6dee7;
  --color-darker-bg: #c6cfd8;
  --color-dark-navy: #3e4a5b;
  --color-darker-navy: #353f4d;
  --color-white: #fafafa;
  --color-title: #1e293b;
  --color-subtitle: #485362;
  --color-text-default: #1e293b;
  --color-placeholder-grey: #707274d8;
  --color-placeholder-white: #eff2f5d8;
}

/* Overall Page Layout */
.changepsswd-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-default-bg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 24px;
}

/* ChangePassword Container */
.changepsswd-container {
  background-color: var(--color-dark-navy);
  padding: 80px 120px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changepsswd-title {
    color: var(--color-white);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 36px;
}

.chngpsswd-form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 16px;
}

.chngpsswd-form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.chngpsswd-input-label {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white-shadow);
  min-width: 120px;
  margin-right: 12px;
}

.chngpsswd-form-input {
  flex-grow: 1; /* Input takes up remaining space */
  width: 120px;
  padding: 12px 48px;
  border: none;
  border-radius: 999px;
  font-size: 16px;
  color: var(--color-text-default);
  background-color: #f1f2f4;
  transition: background-color 0.2s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.chngpsswd-form-input:focus {
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.1);
    outline: none;
}

.chngpsswd-complete-btn {
    width: 120px;
    margin-top: 36px;
    padding: 1rem;
    background-color: var(--color-white); 
    color: var(--color-darker-navy);
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    box-shadow: none;
}

.chngpsswd-complete-btn:active {
    background-color: var(--color-white-shadow); 
    box-shadow: inset 4px 4px 4px rgba(0,0,0,0.1);
}